#texto_info{
    font-size: 20px;
    margin: auto 25px auto 25px;
    text-align: justify;
    font-family:  Arial, sans-serif;
}

#titulo_info{
    font-weight: bold;
    font-size: 28px;
    margin: 20px 13px 20px 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}