.header{
    border: 0px;
    width: 100% !important;
    height: 60px !important;
}

.footer{
    border: 0px;
    border-top: 1px solid black;
    bottom: 0;
    position: absolute;
    width: 100% !important;
    height: 80px;
}
