.header{
    border: 0px;
    width: 100% !important;
    height: 60px !important;
}

.footer{
    width: 100% !important;
    height: 80px !important;
    position:absolute;
    border: 0px;
    border-top: 1px solid black;
    bottom: 0;   
}
